header{
	position: relative;
	background-image: url("white.png");
	background-size: 455px 270px;
	padding: 1px;
	margin-bottom: 20px;
}
body{
	clear: both;
}
.title{
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
	font-family: "helveticaNeue-light" ;
	font-size: 60px;
	color: rgba(15, 68, 109, 0.8);
}
.nav{
	position: relative;
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	margin-top: 33px;
	max-width: 650px;
	border-radius: 5px;
}
.nav a{
	font-family: "helveticaNeue-light" ;
	font-size: 20px;
	display: inline-block;
	padding: 5px;
	color: rgb(0, 44, 138);
	text-decoration: none;
}
.nav a:hover{
	text-decoration: underline;
	background-color: rgba(133, 134, 134, 0.11);
}
.nav a:first-child{
	float: left;
	margin-left: 7%;
}
.nav a:first-child:hover{

}
.nav a:last-child{
	float: right;
	margin-right: 7%;
}
.about{ 
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#one{
	background-color: rgb(255, 250, 242);
	width: 70%;
	height: 165px;
	border: 1px solid rgb(235, 235, 235);
	border-radius: 5px;
}
#two{
	background-color: rgb(242, 244, 248);
	width: 70%;
	height: 165px;
	border: 1px solid rgb(235, 235, 235);
	border-radius: 5px;
}
#three{
	
	width: 70%;
	height: 165px;
	border: 1px solid rgb(235, 235, 235);
	border-radius: 5px;
}
.tag{
	position: absolute;
}
#abou{
	margin-left: 10px;
	background-color: rgb(255, 250, 242);
	border: 1px solid rgb(247, 244, 237);
	border-bottom-color: rgb(255, 250, 242);
	padding: 3px;
	width: 65px;
	border-radius: 2px;
	margin-top: 1px;
	top: -25px;
}
#port{
	margin-left: 100px;
	background-color: rgb(245, 246, 250);
	border: 1px solid rgb(247, 244, 237);
	border-bottom-color: rgb(245, 246, 250);
	padding: 3px;
	width: 65px;
	border-radius: 2px;
	margin-top: 1px;
	top: -25px;
}
#contact{
	margin-left: 207px;
	
	padding: 3px;
	width: 65px;
	border-radius: 2px;
	margin-top: 1px;
	top: -25px;
}
.tag a{
	font-family: "helveticaNeue-light" ;
	font-size: 12px;
	color: rgba(15, 68, 109, 0.8);
	text-align: center;
	text-decoration: none;
}
.tag a:hover{
	text-decoration: underline;
	background-color: rgba(133, 134, 134, 0.11);
}
.subject{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#one-subj{
	background-color: rgb(255, 250, 242);
	border: 1px solid rgb(245, 243, 243);
	width: 70%;
	height: 131px;
	margin-top: -175px;
	border-radius: 5px;
	margin-bottom: 140px;
}
#two-subj{
	background-color: rgb(245, 246, 250);
	border: 1px solid rgb(245, 243, 243);
	width: 70%;
	height: 131px;
	margin-top: -175px;
	border-radius: 5px;
	margin-bottom: 140px;
}
#three-subj{
	background-color: rgb(245, 246, 250);
	border: 1px solid rgb(245, 243, 243);
	width: 70%;
	height: 131px;
	margin-top: -175px;
	border-radius: 5px;
	margin-bottom: 140px;
}
footer{
	background-image: url("grey.png");
	display: block;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.title {
    -webkit-animation: animate_bg 10s;
    animation: animate_bg 10s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
footer a{
	text-align: center;
	padding: 0 6%;
}
.social{
	height: 64px;
	width: 64px;
	border-radius: 50%;
	background-color: rgba(0, 163, 255, 0.7);
}
#a{
	padding-top: 100px;
	padding-bottom: 20px;
}
#b{
	padding-top: 80px;
	text-align: center;
}
.inline{
	display: inline-block;
	padding: 6px;
}
.proj{
	display: none;
	height: 190px;
	margin-top: 70px;
	width: 360px;
	border-radius: 9px;
}
#u{
	background-image: url("shopping.png");
	background-size: 353px 192px;
}
#v{
	background-image: url("google.png");
	background-size: 400px 141px;
}
#w{
	background-image: url("hadouken.png");
	background-size: 353px 192px;
}
#x{
	background-image: url("quiz.png");
	background-size: 353px 192px;
}
#y{
	background-image: url("trending.png");
	background-size: 353px 192px;
}
#z{
	background-image: url("hotorcold.png");
	background-size: 353px 192px;
}
.img{
	display: block;
	display: none;
	background-image: url("snow.jpg");
	background-size: 540px 360px;
	background-position: 100% 10%;
	height: 50%;
	width: 360px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	border-radius: 15px;
	margin-top: 35px;
}
.bod{
	display: none;
	font-family: "helveticaNeue-light";
	font-size: 15px;
	color: rgba(15, 68, 109, 0.8);
	margin: 35px 10%;
	margin-top: 90px;
	padding: 10px;
	background-color: rgba(0, 0, 0, 0.06);
	border-radius: 5px;
}
@keyframes animate_bg {
    0%   {color: red;}
    10%  {color:orange;}
    30% {color: green;}
    50% {color: blue}
    80% {color: purple}
    100% {color: red}
}

@-webkit-keyframes animate_bg {
    0%   {color: red;}
    10%  {color:orange;}
    30% {color: green;}
    50% {color: blue}
    80% {color: purple}
    100% {color: red}
}





